
div{
  background-color: aqua;
  margin: 30px;
}


.card:hover img{
  transform: scale(1.1,1.1);
animation-timing-function: ease-out;
  transition-duration: 700ms;
  opacity: .9;
  height: 250px;
}



